*{
    margin:0;
    color: white;
}
body{
    font-family: OCR-A-Regular, monospace;
    font-style: normal;
    font-weight: 400;
    display: flex;
    background-color:#252525;
    padding:0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#TitleNavBar h1{
    display: flex;
    margin-bottom: 80px;
}
#TitleNavBar nav{
    width: 100%;
}
#TitleNavBar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    padding:0;
}
#TitleNavBar ul li{
    position: relative;
    padding: 0 20px;
    height: 100%;
    display: flex;
}
#TitleNavBar ul li a{
    z-index: 1;
    color:white;
    text-decoration: none;
    padding:10px 5px;
}
#TitleNavBar ul li:before{
    content: "";
    position: absolute;
    height:33.33%;
    width:0;
    background-color: #0D7CFF;
    right: 0;
    z-index:0;
    top:33.33%;
    transition: all 0.5s;
}
#TitleNavBar ul li:after{
    content: "";
    position: absolute;
    height:33.33%;
    width:0;
    background-color: #0D7CFF;
    left: 0;
    z-index:0;
    bottom: 0;
    transition: all 0.5s;
}
#TitleNavBar ul li a:before{
    position: absolute;
    content: "";
    height:33.33%;
    width:0;
    background-color: #0D7CFF;
    bottom:66.66%;
    left:0;
    transition: all 0.5s;
}
#TitleNavBar ul li:hover:before,#TitleNavBar ul li:hover:after,#TitleNavBar ul li:hover #TitleNavBar ul li a:before{
    width:100%;
}